    <nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#featured">Taxi <span class="subhead">Trip</span></a>
            </div>
            <!-- navbar-header -->
            <div class="collapse navbar-collapse" id="collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li routerLinkActive="active"><a [routerLink]="['/home']">Home</a></li>
                    <li routerLinkActive="active"><a [routerLink]="['/showcase']">ShowCase</a></li>
                    <li><a href="#services">Book</a></li>
                    <li><a href="#staff">Contact</a></li>
                    <li><a href="#testimonials">Testimonials</a></li>
                </ul>
            </div>
            <!-- collapse navbar-collapse -->
        </div>
        <!-- container -->
    </nav>